<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Giải Thuật</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_algorithm_award.styles.css" asp-append-version="true" />
</head>
<body>
    @await Component.InvokeAsync("Menu")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted text-center">
        <div class="container" >
            <p style="display: inline-flex; align-items: center;">
                © 2025 Giải Thuật cùng Minh -
                <a href="https://github.com/" target="_blank" class="text-dark" style="margin-left: 5px;">
                    <i class="fab fa-github fa-2x" style="vertical-align: middle;"></i>
                </a>
                <a href="https://www.linkedin.com/in/minh-nguyễn-8b5633335/" target="_blank" class="text-primary" style="margin-left: 10px;">
                    <i class="fab fa-linkedin fa-2x" style="vertical-align: middle;"></i>
                </a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
